<div class="container">


  <%# <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."> %>

  <div id="myBtnContainer" class="d-flex">
    <button class="button-show-all filters active"><%= link_to "Show All", controller: "spaces", action: "index" %>
    </button>
    <% @spaces.each do |space| %>
      <button class="button-filter filters"><%= link_to "#{space.workspace_type}", controller: "spaces", action: "index", query: "#{space.workspace_type}"  %>
      </button>
    <% end %>
  </div>
  <div>
    <div class="grid-container">
          <% @spaces.each do |space| %>
            <div class="grid-item">
              <div class="index-card card">
                <div style="background-image: url('<%= cl_image_path space.photos.first.key, crop: :fill %>'); background-size: cover; margin: 5px; height: 350px; width: auto; border-radius: 5px; background-position: center; opacity: 1" class="card-body-image"></div>
                <div class="d-flex justify-content-between">
                  <div>
                    <div class="space-title">
                      <h3><strong><%= space.name %></strong></h3>
                    </div>
                    <div>
                      <p><%= space.address %></p>
                      <p>Rating: <%= space.rating %></p>
                      <p>Price: <%= space.price %>€</p>
                    </div>
                  </div>
                  <% profile_pic = ['https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500', 'https://thumbs.dreamstime.com/b/profile-picture-vector-perfect-social-media-other-web-use-125320944.jpg', 'https://images.unsplash.com/photo-1532074205216-d0e1f4b87368?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHByb2ZpbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80', 'https://images.pexels.com/photos/1704488/pexels-photo-1704488.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500', 'https://www.whatsappprofiledpimages.com/wp-content/uploads/2021/08/Profile-Photo-Wallpaper.jpg','https://image.shutterstock.com/image-vector/no-user-profile-picture-hand-260nw-99335579.jpg'] %>
                  <div class="user-avatar align-content-center"><%= image_tag profile_pic.sample %>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <%= link_to space_path(space) do %>
                    <div class="card-button">
                      <%= "Rent" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  </div>
</div>
