<div class="container-width">
<%= form_tag spaces_path, method: :get do %>
<%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "What city are you planning to work from?"
  %>
<%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('ascendingprice')"> Ascending by price</button>
    <button class="btn" onclick="filterSelection('descendingprice')"> Descending by price</button>
    <button class="btn" onclick="filterSelection('ascending by rating')"> Ascending by rating</button>
    <button class="btn" onclick="filterSelection('descending by rating')"> Descending by rating</button>
</div>
  <h1 class="text-center">Spaces available for rent</h1>
    <div class="grid-container">
      <% @spaces.each do |space| %>
        <div class="grid-item">
          <div class="card">
            <div
              style="background-image: url('<%= cl_image_path space.photos.first.key , height: 300, crop: :fill %>'); background-size: cover; background-position: center; opacity: 0.5" class="card-body">
              <h2 class="card-title"><%= link_to space.name, space_path(space) %></h2><br>
              <h4 class="card-subtitle"> <%= space.description %> </h4><br>
              <p class="card-text"> <%= space.address %></p>
              <p> Available </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <p>Space rated: X</p>
              <p> <%= space.price %>€</p>
            </div>
          </div>
        </div>
      <% end %>
</div>
</div>
