<div class="container">
  <div class="space-overview-top">
    <div class="d-flex justify-content-between">
      <h2><%= @space.name %></h2>
    </div>
    <p><%= @space.description %></p>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 carousel-image">
          <div id="myCarousel" class="carousel slide" data-ride="carousel" text-align="center">
            <div class="carousel-inner">
              <div class="carousel-item active"> <%= image_tag @space.photos.first %> </div>
              <div class="carousel-item"> <%= image_tag @space.photos.second %> </div>
              <div class="carousel-item"> <%= image_tag @space.photos.last %> </div>
              </div>
            <ol class="carousel-indicators list-inline">
              <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0"
                  data-target="#myCarousel"> <%= image_tag @space.photos.first, class: "img-fluid rounded" %> </a>
              </li>
              <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                  <%= image_tag @space.photos.second, class: "img-fluid rounded" %> </a> </li>
              <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                  <%= image_tag @space.photos.last, class: "img-fluid rounded" %> </a> </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
    <p>🌟 Rating: <%= @space.rating %></p>
  <div class="space-body">
    <p><%= @space.workspace_type %>For Rent By: <%= @user.email %></p>
  </div>
  <div class="d-flex justify-content-between center-show">
    <div class="box-shadow" id="map" style="width: 45%; height: 300px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
         <%= render partial: "partials/calender" %>
  </div>
  <div class="show-bottom">
    <div class="container text-center">
      <h4>Amenities:</h4>
        <div class="amenities">
          <ul class="amenities-list">
            <% @space.amenities.split(" ").each do |amenitie| %>
              <li><i class="<%= @icons[:"#{amenitie}"] %>"></i></li>
            <% end %>
          </ul>
        </div>
    </div>
    <div class="reviews">
      <p><%= @space.name %> Reviews:</p>
        <% @space.reviews.each do |review| %>
          <p><%= review.comment %></p>
        <% end %>
    </div>
  </div>
</div>
