<div class="container">
  <div class="space-overview-top">
    <h4><%= @space.name %></h4>
    <p><%= @space.description %></p>
    <div style="height:300px;border:1px solid #000;" class="text-center">images</div>
    <p>🌟 Rating: <%= @space.rating %></p>
  </div>
  <div class="space-body">
    <p><%= @space.workspace_type %>For Rent By: <%= @user.email %> <%= @space.address %></p>
  </div>
  <div class="d-flex justify-content-between center-show">
    <div style="width: 45%;height:300px;border:1px solid #000;"><img id="map" src="<%= @map_url %>" alt="space map"></div>
    <div style="width: 45%;height:300px;border:1px solid #000;" class="text-center"><%= @space.availability %></div>
  </div>
  <div class="amenitis">
    <p>Amenitis:</p>
  </div>
</div>
