<h1>New Booking for: <%= "#{@space.name}" %></h1>



<%= simple_form_for [@space, @booking] do |f| %>
  <div class="form-inputs w-50">
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date, as: :date %>
    <p><%= "Price per day #{@space.price}"  %></p>
    <%= f.button :submit, value: "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
