<div  class="container">
  <div  class="grid-home">
    <div class="big1">
       <%= form_tag spaces_path, method: :get do %>
    <div class="mp34 search-form-control form-group padding-text">
      <%= text_field_tag :query,
      params[:query],
      class: "form-control padding-text",
      placeholder: "   Search by city or workspace type...", class: "home-form-control string required" %>
      <%= button_tag type: 'submit', class: "btn-34 btn btn-primary" do %>
      <i class="fas fa-search"></i>
      <% end %>
    </div>
    <% end %>
    </div>
    <div class="m2"></div>
    <div class="b1g2"></div>
    <div class="m4"></div>
    <div class="f3">
      <h1 class="banner-h1 home-text center-text">Enjoy the <strong>Freedom</strong> to work from <em>anywhere, anytime</em></h1>
    </div>
    <div class="d43v">
      <img  style="height: 320px"  src="https://blush.design/api/download?shareUri=XxRzUx4VYQECRNIR&c=Hair_0%7E0f0f0f-0.8%7E9b5120_Skin_0%7Eecafa3-0.8%7Ef6cbc3&w=800&h=800&fm=png" alt="Italian Trulli">
    </div>
  </div>
  <div class="fb23">
    <div class="fb1"><h1 class="banner-h1 home-text center-text">Turn your life <em>upside down</em> and find your <strong>new</strong> workspace!</h1></div>
    <div class="fb2 d-flex">
      <div id="triangle">
          <% if current_user %>
            <%= link_to  spaces_path, type: 'submit', class: "" do %>
            <button class="btn-38">Book</button>
              <% end %>
          <% else %>
            <%= link_to  new_user_session_path, type: 'submit', class: "" do %>
            <button class="btn-38">Book</button>
            <% end %>
          <% end %>
      </div>
      <img  class="img-37" src="https://blush.design/api/download?shareUri=P-So76N9u_1H3Rau&c=Hair_0%7E3164cf_Rainbow_0%7Eff89d4_Skin_0%7Eb02d1c&w=800&h=800&fm=png" alt="">
    </div>
  </div>
  <div class="fb23">
    <div >
    </div>
    <div class="fb3 d-flex ">
      <img  class="img-38" src="https://blush.design/api/download?shareUri=sNgscyXxvXfhnv-D&c=Hair_0%7E372310-0.4%7Ead3409_Skin_0%7E673a18-0.4%7Ef4d4b8&w=800&h=800&fm=png" alt="">
      <div id="triangle2">
        <div class=" search-form-control form-group">
        <% if current_user %>
            <%= link_to  new_space_path, type: 'submit', class: "" do %>
            <button class="btn-37">Host</button>
          <% end %>
        <% else %>
          <%= link_to  new_user_session_path, type: 'submit', class: "" do %>
            <button class="btn-37">Host</button>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="fb1"><h1 class="banner-h1 home-text center-text">Secure  <strong>your Freedom</strong> by hosting your space!</h1></div>
    </div>
  </div>
</div>
