<!DOCTYPE html>
<html>
  <head>
    <title>Homework</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-between">
   <%= link_to root_path, class: "navbar-brand" do %>
     <%= image_tag "homework.png" %>
   <% end %>

   <button class="navbar-toggler" type="button" data-toggle="collapse"
           data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
           aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

    <div>
      <%= link_to "Host a space!", new_space_path(), class: "btn" %>
    </div>


    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
     <% if current_user %>
        <!--<li class="nav-item active">Welcome, <%= current_user.first_name %>...</li>
        -->
        <li class="nav-item active">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "My account", dashboard_path(), class: "nav-link" %>
        </li>
       <!-- <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://lh3.googleusercontent.com/qt6HS-xCVRYnGGwtEQxEDEyZ61JJAokfVG_EiceGyv6OGBUWlqSqvcrmblb5RWXwCX5SCoPH9KJB9uSUgpxxpsemMSntV7Gg_LXc=w600" />
        </li>
        -->
      <% else %>
        <li class="nav-item active">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
         <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>


  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
